.feedCard {
  height: 80%;
  width: 90%;
  color: hsl(0, 0%, 100%);
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  display: grid;
  font-size: 12px;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 70%;
}
.feedCard:nth-child(1) {
  align-self: start;
  justify-self: start;
}
.feedCard:nth-child(2) {
  align-self: center;
  justify-self: center;
}
.feedCard:nth-child(3) {
  align-self: end;
  justify-self: end;
}
@media only screen and (max-width: 748px) {
  .feedCard {
    height: 240px;
    width: 100%;
    margin-bottom: 5%;
  }
  .feedCard:nth-child(1) {
    align-self: center;
    justify-self: center;
  }
  .feedCard:nth-child(2) {
    align-self: center;
    justify-self: center;
  }
  .feedCard:nth-child(3) {
    align-self: center;
    justify-self: center;
  }
}
.pic {
  padding-right: 20px;
  justify-self: end;
  align-self: end;
}
.head {
  padding-bottom: 5px;
  align-self: end;
  grid-column: 2;
}
.name {
  font-size: 15px;
  line-height: 30px;
}
.verify {
  color: hsl(303, 10%, 53%);
}
.main {
  line-height: 25px;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  grid-row: 2;
  grid-column: span 2;
}
